
#Resume {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 180px);
    overflow: hidden;
    padding: 0;
    margin-top: 0px;
}

#Resume::before {
    content: "";
    background: url('../Media/pulse.gif') no-repeat center center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: blur(0px); 
    z-index: 0;
}

.Resume-content {
    position: relative;
    text-align: center;
    z-index: 1;
}

.Resume-content p {
    font-size: 10rem;
}

@media (max-width: 1000px) {
    #Resume::before {
        background: url('../Media/pulsemobile.gif') no-repeat center center;
        background-size: cover;
    }

    .Resume-content p {
        font-size: 5rem;
    }
}

.resume-link {
    display: inline-block;
    padding: 15px 30px;
    font-size: 5rem;
    color: #000;
    background-color: #fff;
    border-radius: 50px;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, color 0.3s;
}

.resume-link:hover {
    background-color: #f0f0f0;
    color: #333;
}